.container {
    height: 800px;
}

body{
    background-color: khaki;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif'
}

button{
    width: 100px;
}